<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @voter.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @voter.last_name %>
</p>

<p>
  <b>Response:</b>
  <p>
    <%= h JSON.pretty_generate(JSON.parse(@voter.response)) %>
  </p>
</p>

<%= link_to 'Edit', edit_voter_path(@voter) %> |
<%= link_to 'Back', voters_path %>
